.foto{
    width: 35%;
    height: 35%;
    border: 1px solid lightgrey;
    padding: 0.5em;
}

.gluten{
    top: 15%;
    right: 7%;
    font-size: 2em;
}

.glutenimg{
    top: 15%;
    right: 7%;
    font-size: 2em;
}

.listname{
    font-size: 1.3em;
}