<h2>{{titulo}}</h2>

<button (click)="contarClicks()">DALE</button>
<p>{{numeroClicks}}</p>

<p>Ejemplo de propiedadsiempre con [] y las variables sin llaves</p>
<p>La propiedad <code>hidden</code> es de Angular, tambien podriamos haber usado ngIf</p>
<p [hidden]="!visible">Adiós</p>
<button (click)="decirAdios()">Decir adiós</button>

<p>Podemos delcarar porpiedades al vuelo, sin tener que definirlas en el Componente, tambien podemos </p>
<div [class]="claseSeleccionada">COLOR que cambia al pulsar botones</div>

<button (click)="claseSeleccionada= 'rojo otra'">Color Verde</button>
<button (click)="claseSeleccionada= 'verde'">Color rojo</button>

<p>Para usar banana in a box recordar importar el modulo de <code>FomsModule</code></p>

<label> Nombre: {{jugador}}</label>
<input type="text" [(ngModel)]="jugador">