<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h1>{{title | uppercase}}</h1>

<app-boton></app-boton>
<button *ngIf="carritoCompra.size > 0" class="btn btn-warning"><i class="fas fa-shopping-cart"></i></button>


<!-- Begin Page Content -->
<div class="row justify-content-center h-75">
  <!-- / .col-sm-7 -->
  <div class="col-sm-7 shadow bg-white">
    <ul class="pl-0 pt-3 pr-2 list group">
      <li *ngFor="let p of productos" (click)="seleccionarProducto(p)" class="list-group-item {{(p==pSeleccionado)?'active':''}}">
        {{p.nombre}}
      </li>
    </ul>
  </div>

  <!-- / .col-sm-6 -->
  <div class="col-sm-5 shadow bg-white">
    <div class="card">
      <img class="card-img-top" src="{{pSeleccionado.imagen}}" alt="Imagen de {{pSeleccionado.nombre}}">
      <i *ngIf="pSeleccionado.gluten" class="text-danger fas fa-exclamation-circle position-absolute "
        
        style="right:1vh; top:1vh; font-size: 2em;"></i>
      <div class="card-body">
        <h5 class="card-title">{{pSeleccionado.nombre}} <span>{{pSeleccionado.precio|currency:'EUR':true}}</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{pSeleccionado.categoria.nombre}}</h6>
        <p class="card-text"></p>
        <h6 class="card-subtitle mb-2">Historico</h6>
        <div *ngFor="let h of pSeleccionado.historico" class="row">
          <div class="col-6">{{h.fecha}}</div>
          <div class="col-6">{{h.precio|currency:'EUR':true}}</div>
        </div>
        <button class="btn btn-primary" (click)="comprar(pSeleccionado)"><i class="fas fa-cart-arrow-down"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- End of row -->