<h1>SASS</h1>
<p>SASS es un precompilador de css y soporta dos formatos <code>.sass</code> y <code>.scss</code>.</p>
<p>Vamos a usar el formato <code>SCSS</code> porque es el más sencillo de aprender porque soporta que escribamos en
<code>CSS</code>.</p>
<p>Existen otros precompiladores como <code>LESS</code> y <code>STYLUS</code>.</p>
<p><a target="_blank" href="https://sass-lang.com">Documentación oficial</a></p>

<button class="boton-verde">Soy verde</button>
<button class="boton-rojo">Cancelar</button>
