li {

    span.titulo{
        font-weight: 500;
        margin-left: 10px;
    }

    span.completada{
        text-decoration: line-through;
        font-weight: 100;
        color: rgb(119, 113, 113);
    }

}

.fondo{
    opacity: 0.8;
}

.fondoimagen{
    background-image: url("https://support.content.office.net/es-es/media/c1633a4d-a445-4f6c-87fc-f41fc8f01b69.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}