<h2>{{'Pipes o Filtros' | uppercase}}</h2>

<h3>Ejemplos de filtros de angular</h3>
<a href="https://angular.io/api?query=pipe&type=pipe" target="_blank">API de Filtros</a>
<pre>{{coche | json}}</pre>
<p>{{coche.nombre | uppercase}}</p>
<p>{{coche.color | lowercase}}</p>
<p>{{coche.precio | currency:'EUR':'':'2.2-2'}}&euro;</p>
<p><b>{{coche.nombre | slice:0: 4}}</b> {{coche.nombre | slice:5}}</p>

<hr>
<h3>Filtrando Listas</h3>

<input type="text" name="busqueda">
<select>
    <option *ngFor="let tipo of tipos | " value="">{{tipo.nombre}}</option>
  </select>

<ul class="list-group">
    <li *ngFor="let animal of animales | animalesFiltro : busqueda" class="list-group-item"><img src="{{animal.Imagen}}" class="circle"> <div class="registro"><span class="nombre">{{animal.Nombre}}</span> <br><span class="observacion">{{animal.Observacion}}</span></div></li>
  </ul>

<hr>

<h3>Custom Filter</h3>

<a href="https://angular.io/guide/pipes" target="_blank">Documentacion oficial</a>